

#user_email
{
  display: none;
}

#dimScreen > img
{
  max-width: 128px;
  max-height: 128px;
}

.carousel-caption
{
  color:black;
  bottom:0px;
  top:0%;
}


.carousel .carousel-item img {
  max-height: 768px;
  min-width: auto;
  object-fit: cover;
}

/*remove padding in smaller screen*/
@media (max-width: 978px) {
  .main-form {
    padding:0;
    margin:0;
  }
}

.learning_areas1, .learning_areas2
{
  min-height: 26px; /*font-size + padding*/
}

/* .column-text{
  word-break: break-word;
  font-size: 3.8vmin;
  width:100%;
} */

.grade
{
  text-align: center;
}

.form-row
{
  margin-left:0;
  margin-right:0;
}

.cell-bordered-header
{
    padding: 0 !important;
    margin: 0 !important;
    border:black 1px solid;
}

.cell-bordered
{
  /* padding: 0 !important;
  margin: 0 !important; */
  border:black 1px solid;
}

.grid_cell
{  
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.card_subject_text
{
  font-weight: bold;
  font-size: 14px;
}

.all_caps
{
  text-transform: capitalize;
}

.form-check-input{
  margin-left: 0;
}

.form-check-label{
  margin-left: 1.25rem;
}

.header-image
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:120px;
}

#loadingModal{
  position: fixed;
  top: 50% !important;
}

.grade_card
{
  /* border:black 1px solid; */
  padding: 5px;
}

.form-entry
{
  /* padding-left: 12px;
  padding-right: 12px; */
  border:black 2px solid;
}

/* .bootbox > .modal-dialog > .modal-content > .modal-body
{
  background-color: #859bfd;
  color: white;
} */

.bootbox > .modal-dialog > .modal-content > .modal-header
{
  background-image: linear-gradient(to right, #85b085, #ffe56a00);
  color: black;
}

#dimScreen
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,1);
}

#table_tr{
  background-color: darkseagreen;
}

.form-item
{
  background-color: gray;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 18px;
  padding: 5px;
}

.welcome_text, .form-header, .form-item
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.serif {
  font-family: "Times New Roman", Times, serif;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar
{
  background-color: #4b6645;
}

#logo_nav
{
    max-height: 72px;
}



[data-pnotify] .custom_success-elem, [data-pnotify] .custom_error-elem{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  line-height: 1.1;
}

[data-pnotify] .custom_success-container, [data-pnotify] .custom_error-container {  
  background-image: none;
  border: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  font-size: 15px;
}

[data-pnotify] .custom_success-container
{
    background-color: #000000ba;
}

[data-pnotify] .custom_error-container
{
    background-color: #ff0000b3;
}

[data-pnotify] .custom_success-title, [data-pnotify] .custom_error-title,
[data-pnotify] .custom_success-text, [data-pnotify] .custom_error-text {
  margin-left: 50px;
  color: #FFF;
}

[data-pnotify] .custom_success-title, [data-pnotify] .custom_error-title {
  font-weight: bold;
  font-size: 15px;
}
[data-pnotify] .custom_success-icon, [data-pnotify] .custom_error-icon {
  color: #FFA;
}


.navbar-icon-top .navbar-nav .nav-link > .icon {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .icon > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .icon {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .icon > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .icon {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .icon > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .icon {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .icon > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .icon {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .icon > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .icon {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .icon > .badge {
    top: -7px;
  }
}


