.card_subject_text{
    height: 50px;
    cursor: pointer;
    margin-bottom: 20px;
}

.delete, .edit{
    display: none;
}

.card_subject_text_parent:hover  .delete,  .card_subject_text_parent:hover .edit{
   display:inline-block  
}


.underlined
{
	border-bottom: solid 1px black !important;	
}


#observed_table_main
{
	max-width: 100%;
}

#observed_table td
{
	font-family: Cambria, serif;
	padding: 10px;
	font-size: small;
	border: 1px solid black;
}

/* * {
    -webkit-print-color-adjust: exact !important;   
    color-adjust: exact !important;                 
} */

/* .image-form137
{
	background-image: url("/images/logo.png") !important;
	background-size: contain;
} */

#signature_image
{
	max-width: 200px;
}

.underlined_field
{
	border-bottom: solid 1px black;
	max-width: 200px;
}

.table-word-column
{
	min-width: 160px;
}



#attendance_table, .sy
{
	text-align: center;
}

#attendance_table td
{
	border: 1px solid black;
	font-family: "Times New Roman", Times, serif;
}

.observed_inputs
{
	line-height: 5rem;
	text-align: center;
}


.header-image-left
{
	float:left;
	left: 5%;
	/* top:20%; */
	display: block;
	max-width:120px;
	max-height:120px;
	position: absolute;
}


.float{
	position:fixed;
	/* width:60px;
	height:60px; */
	bottom:40px;
	right:40px;
	/* background-color:#0C9; */
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index:1000;
	animation: bot-to-top 2s ease-out;
}


.my-float{
	font-size:24px;
	margin-top:18px;
}


@media print { 
	table,
	table tr td,
	table tr th {
	  page-break-inside: avoid;
	}

	body {-webkit-print-color-adjust: exact;}

	.pagebreak { display: block; page-break-before: auto; }

	.image-form137{
		width:291px;
		height:291px;
		display: list-item;
		list-style-image: url(../images/logo.png);
		list-style-position: inside;
	}
}


@media all {
    .pagebreak { display: none; }
}