#icon2
{
    max-width: 100%;
    padding: 50px;
}

.pass-error{
	color: red;
	background-color: white;
	font-size: 13px;
	padding: 5px;
}

.theForm{
	padding: 20px;
	background-color: silver;
}

footer
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.pass_show{position: relative} 

.pass_show .ptxt { 

position: absolute; 

top: 50%; 

right: 0px; 

z-index: 1; 

color: #f36c01; 

margin-top: -10px; 

cursor: pointer; 

transition: .3s ease all; 

} 

.pass_show .ptxt:hover{color: #333333;} 